<h1>Listing image2_tests</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image2_tests.each do |image2_test| %>
      <tr>
        <td><%= image2_test.title %></td>
        <td><%= image2_test.description %></td>
        <td><%= link_to 'Show', image2_test %></td>
        <td><%= link_to 'Edit', edit_image2_test_path(image2_test) %></td>
        <td><%= link_to 'Destroy', image2_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image2 test', new_image2_test_path %>
