<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image2_test.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image2_test.description %>
</p>

<%= link_to 'Edit', edit_image2_test_path(@image2_test) %> |
<%= link_to 'Back', image2_tests_path %>
