<script>
jQuery(document).ready(function($) {

anno.makeAnnotatable(document.getElementById('something'));
anno.addHandler('onAnnotationCreated', function(annotation) {
    console.log(annotation.text);
    console.log(annotation.shapes[0].geometry.x);
    $.post( '/image_annotations.json', annotation );
});

$.getJSON( "/my_annotations/list_anno?image_id=<%= @random_image.id %>", function( data ) {
  $.each( data, function( key, val ) {
    anno.addAnnotation(val);
  });
});

});
</script>

<%- model_class = ImageTest -%>
<div class="page-header">
  <h3>Exploring random images</h3>
</div>

<div class="col-md-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Instruction</h3>
    </div>
    <div class="panel-body">
      Click and drag on image to annotate interesting features.
      <% unless current_user %>
      <br/><br/><%= link_to 'Register', new_user_registration_path %> and <%= link_to 'sign in', new_user_session_path %> to keep track of your works and to earn achievements.
      <% end %>      
    </div>
  </div>    
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Image Info</h3>
    </div>
    <div class="panel-body">
      <strong><%= model_class.human_attribute_name(:sol) %>:</strong> <%= @random_image.sol %><br/>
      <strong><%= model_class.human_attribute_name(:camera_type) %>:</strong> <%= @random_image.camera_type %><br/>
      <strong><%= model_class.human_attribute_name(:image_time) %>:</strong> <%= @random_image.image_time %><br/>
      <strong># of Annotations:</strong> <%= @random_image.image_annotations.count %>
      <%= "(Be the first one to annotate this picture)" if @random_image.image_annotations.count == 0 %>
    </div>
  </div>
  <div class="text-center"><%= link_to "<button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-question-sign'></span> Random Image</button>".html_safe, random_explore_index_path %></div><br/>
  <div class="text-center"><%= link_to "<button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-picture'></span> Image Gallery</button>".html_safe, gallery_explore_index_path %></div>
</div>
<div class="col-md-10">
  <div>
    <%= image_tag @random_image.url, :id => 'something' %>
  </div>
</div>
