<!DOCTYPE html>
<html>
<head>
  <title>Mars Scitizens</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <%= link_to "Mars Scitizens", "/", :class => 'navbar-brand' %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <%= render 'layouts/user_widget' %>            
                </ul>
              </div><!--/.navbar-collapse -->
            </div>
        </div>
    </nav>



<%= flash_messages %>
<%= yield %>
    <%= render 'layouts/footer' %>  

  </body>
  <!-- hack http://stackoverflow.com/questions/22130467/iconfonts-only-show-in-chrome-on-hover -->
  <script>
  $(document).ready(function()    
  {
    var Offset = $('body').offset();
    $('body').offset(Offset);
  });
  </script>
</html>
